__pycache__/
.venv/
.vscode/
.DS_Store
.envrc
.dir-locals.el
geographer.egg-info
geographer-env/
geographer/cut_old_functional/
geographer/playground/
geographer/img_download/.ipynb_checkpoints/
geographer.egg-info/
requirements/extra.txt