__pycache__/
.vscode/
.DS_Store
assoc/*
aubesa/*
geographer.egg-info
geographer-env/
geographer/cut_old_functional/
geographer/playground/
geographer/img_download/.ipynb_checkpoints/
geographer.egg-info/
