affine==2.3.0
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
docformatter==1.4
docutils==0.18.1
Fiona==1.8.21
-e git+ssh://git@github.com/dida-do/GeoGrapher.git@f2700616bda8cba802394c4fd70e9e77819e4abc#egg=geographer
geojson==2.5.0
geomet==0.3.0
geopandas==0.10.2
gitdb==4.0.9
GitPython==3.1.27
html2text==2020.1.16
idna==3.3
iniconfig==1.1.1
isort==5.10.1
munch==2.5.0
numpy==1.22.3
packaging==21.3
pandas==1.4.1
pep517==0.12.0
pip-tools==6.6.2
pluggy==1.0.0
py==1.11.0
pydantic==1.9.1
pygeos==0.12.0
pyparsing==3.0.7
pyproj==3.3.0
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
rasterio==1.2.10
requests==2.27.1
scipy==1.8.0
sentinelsat==1.1.1
Shapely==1.8.1.post1
six==1.16.0
smmap==5.0.0
snuggs==1.4.7
tomli==2.0.1
tqdm==4.63.0
typing_extensions==4.2.0
untokenize==0.1.1
urllib3==1.26.9
yapf==0.32.0
