affine==2.3.0
attrs==21.4.0
aubesa==0.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
docformatter==1.4
Fiona==1.8.21
geojson==2.5.0
geomet==0.3.0
geopandas==0.10.2
html2text==2020.1.16
idna==3.3
isort==5.10.1
munch==2.5.0
numpy==1.22.3
pandas==1.4.1
pygeos==0.12.0
pyparsing==3.0.7
pyproj==3.3.0
python-dateutil==2.8.2
pytz==2022.1
rasterio==1.2.10
requests==2.27.1
-e git+ssh://git@gitlab.com/didado/remote-sensing-tools.git@4ceb633034a850a5a189e98b2afe0bc27bd56f4f#egg=rs_tools
scipy==1.8.0
sentinelsat==1.1.1
Shapely==1.8.1.post1
six==1.16.0
snuggs==1.4.7
tqdm==4.63.0
untokenize==0.1.1
urllib3==1.26.9
yapf==0.32.0
